.sidebar {
    position: fixed;
    left: 0;
    height: 95vh;
    transition: 0.3s;
    width: 50px;
    background: #E8EBEE75;
    color: #fff;
    padding-top: 10px;
  
    .content {
      .link {
        padding: 10px 0;
        .content {
          display: flex;
          align-items: center;
          justify-content: center;
          padding: 10px;
          cursor: pointer;
          transition: 0.3s;
         .icon{
         .side-icon{
         filter: invert(20%) sepia(89%) saturate(2610%) hue-rotate(214deg) brightness(85%) contrast(92%)
          }
         }
          &:hover {
            background: #b3b3c9;
          }
  
        }
      }
    }
    .bottom-nav {
      width: 100%;
      position: absolute;
      bottom: 0 ;
      .link {
        padding: 10px 0;
        .content {
          display: flex;
          align-items: center;
          justify-content: center;
          padding: 10px;
          cursor: pointer;
          transition: 0.3s;
        
          &:hover {
            background: #b3b3c9;
          }
         
        }
      }
    }
  }
  