<div class="sidebar">
  <div class="content">
    <div class="link">
      <div class="content" [routerLink]="['/dashboard']" [routerLinkActive]="'active'" #dashboard="routerLinkActive">
        <div class="icon">
          <img [ngClass]="{'side-icon': dashboard.isActive}" src="assets/svg/dashboard.svg" />
        </div>
      </div>
    </div>

    <div *ngIf="authservice.isAuthorized('admin')" class="link">
      <div class="content" [routerLink]="['/user']" [routerLinkActive]="'active'" #user="routerLinkActive">
        <div class="icon">
          <img [ngClass]="{'side-icon': user.isActive}" src="assets/svg/user.svg" />
        </div>
      </div>
    </div>
    <div class="link">
      <div class="content" [routerLink]="['/map']" [routerLinkActive]="'active'" #map="routerLinkActive">
        <div class="icon">
          <img [ngClass]="{'side-icon': map.isActive}" src="assets/svg/map.svg" />
        </div>
      </div>
    </div>
    <div class="bottom-nav">
      <div class="link">
        <div class="content" [routerLink]="['/user-profile']" [routerLinkActive]="'active'"
          #user_profile="routerLinkActive">
          <div class="icon">
            <img [ngClass]="{'side-icon': user_profile.isActive}" src="assets/svg/profile.svg" />
          </div>
        </div>
      </div>
      <div class="link">
        <div class="content" (click)="logout()">
          <div class="icon">
            <img src="assets/svg/logout.svg" />
          </div>
        </div>
      </div>
    </div>
  </div>
</div>