<div class="map-container" #map></div>
<script src="https://openlayers.org/en/v6.2.1/build/ol.js"></script>

<div class="map_bottom">
    <div class="container">
        <div class="row">
            <div class="col-4">
                <h2>Total Cities</h2>
                <p class="data">{{CountryCount.total_cities}}</p>
            </div>
            <div class="col-4">
                <h2>Populations</h2>
                <p class="data">{{CountryCount.population}}</p>
            </div>
            <div class="col-4">
                <h2>Country</h2>
                <button class="btn " style="margin: auto; display: flex;" (click)="open(content)">{{country}}</button>

            </div>
        </div>
    </div>
</div>

<ng-template #content let-c="close" let-d="dismiss">
    <div style=" overflow-y: scroll;    max-height: 300px;">
        <div class="  " *ngFor="let country of countryArray">
            <div class="p-2 border country " (click)="d('Cross click');selectcountry(country.c_country)">
                {{country.c_country}}
            </div>
        </div>
    </div>

</ng-template>



<!-- <div id="map" style="width: 100%; height: 400px;"></div> -->