:host {
  display: flex;
  flex-direction: column;
  height: 94.4vh;
}
header {
  background-color: var(--header-color);
  padding: 2em;
}
header .title {
  font-size: 28px;
}
main {
  display: flex;
  flex-grow: 1;
}
.left-bar {
  width: 20em;
  background-color: var(--sidebar-color);
}
.map-container {
  flex-grow: 1;
}
footer {
  background-color: var(--header-color);
  padding: 1em;
}
.map_bottom {
  border-radius: 5px;
  width: 30%;
  position: fixed;
  z-index: 1200;
  bottom: 20px;
  right: 30px;
  background-color: white;
  padding: 20px;
  h2 {
    text-align: center;
  }

  .data {
    text-align: center;
    font-size: 25px;
    font-weight: 600;
  }
}

.country:hover {
  background-color: rgba(131, 131, 131, 0.577);
}
