<section id="login-page">
    <div class="container-fluid">
        <div class="row">
            <div class="col-lg-7 p-0">
                <img src="../../assets/svg/login-page-img.svg" width="100%" alt="" class="img-fluid">
            </div>
            <div class="col-lg-5 align-self-center">
                <div class="login-form">
                    <div class="logo text-center py-4">
                        <img src="../../assets/svg/logo.svg" alt="" class="img-fluid">
                    </div>
                    <h4 class="text-center pb-2 pt-4">Login</h4>
                    <div class="row">
                        <div class="col-lg-8 col-md-10 col-sm-12 mx-auto">
                            <form [formGroup]="form" class="" (ngSubmit)="onlogin()">
                                <div class="mb-3">
                                    <label class="form-label">User Name</label>
                                    <input class="form-control" type="text" placeholder="Enter username"
                                        formControlName="email">
                                    <span class="text-danger"
                                        *ngIf="form.get('email')?.hasError('required')&&form.get('email')?.touched">
                                        Required field...
                                    </span>

                                </div>
                                <div class="mb-3">
                                    <label class="form-label">Password</label>
                                    <input class="form-control" type="password" placeholder="Enter password"
                                        formControlName="password">
                                    <span class="text-danger"
                                        *ngIf="form.get('password')?.hasError('required')&&form.get('password')?.touched">
                                        Required field...
                                    </span>
                                </div>
                                <div class="btnGrid align-items-center pt-2">
                                    <a href="forget" class="forgot text-danger">Forget Password?</a>
                                    <button type="submit" class="loginBtn">Login</button>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>