#login-page {
    background-color: #19366821;
    .login-form {
        label {
            color: #000;
            font-weight: 500;
        }
        input[type=text], input[type=password] {
            background-color: #fff;
            border: none;
            padding: 12px;

            &:focus {
                border: none!important;
            }
        }
        .btnGrid {
            display: grid;
            grid-template-columns: 1fr max-content;

            .forgot {
                text-decoration: none;
            }
            .loginBtn {
                background-color: #5E5BFF;
                border: none;
                border-radius: 5px;
                color: #fff;
                padding: 10px 60px;
                .loginBtn:hover{

                    background-color: #02006c;
                    box-shadow: #000;
    
                }
            }
          
        }
        
    }
}