<app-toasts aria-live="polite" aria-atomic="true"></app-toasts>

<section id="app-component" *ngIf="authservice.isLoggedIn">
    <div class="container-fluid">
        <div class="row">
            <div class="col-lg-12 p-0">
                <app-nav-tab></app-nav-tab>
            </div>
            <app-side-bar></app-side-bar>
            <div class="col-lg-12 ps-5 pe-0">
                <div class="content">
                    <router-outlet></router-outlet>
                </div>
            </div>
        </div>
    </div>
</section>
<router-outlet *ngIf="!authservice.isLoggedIn"></router-outlet>