<section id="adminUser" class="p-4 mt-5">
    <div class="container-fluid">
        <div class="row">
            <div class="col-lg-12">
                <h2>User <span><button class="btn customBtn"
                            (click)="open(content);addUser.reset();buttonvalue = 'Add New User';">Add New
                            User</button></span>
                </h2>
                <hr>
            </div>
            <div class="col-lg-12">

                <table datatable [dtOptions]="dtOptions" class="table border m-0" style="width: 100%;">
                    <thead>
                        <tr>
                            <th>Date</th>
                            <th>Name</th>
                            <th>Email Address</th>
                            <th>Mobile Number</th>
                            <th>DOB</th>
                            <th>Role</th>
                            <th>Edit</th>

                        </tr>
                    </thead>
                    <tbody *ngIf="persons?.length != 0">
                        <tr *ngFor="let person of persons">
                            <td>{{ person.u_created }}</td>
                            <td>{{ person.u_first_name }}</td>
                            <td>{{ person.u_email }}</td>
                            <td>{{ person.u_phone }}</td>
                            <td>{{ person.u_dob }}</td>
                            <td>{{ person.u_role|uppercase }}</td>
                            <td>
                                <div (click)="  edituser(person); open(content)">
                                    <i class="fa-regular fa-pen-to-square"></i>

                                </div>
                            </td>
                        </tr>
                    </tbody>
                    <tbody *ngIf="persons?.length === 0">
                        <tr>
                            <td colspan="3" class="no-data-available">No data!</td>
                        </tr>
                    </tbody>
                </table>

            </div>
        </div>
    </div>
</section>

<ng-template #content let-c="close" let-d="dismiss">
    <div class="modal-header modal-lg">
        <h4 class="modal-title" id="modal-basic-title">User Add</h4>
        <button type="button" class="btn-close" aria-label="Close" (click)="d('Cross click')"></button>
    </div>
    <div class="modal-body">
        <form [formGroup]="addUser" class="" (ngSubmit)="onAddUser()">
            <div class="row">

                <div class="col-lg-6">
                    <div class="mb-3">
                        <label class="form-label">Date Of Birth</label>
                        <input class="form-control" type="date" formControlName="u_dob">

                        <span class="text-danger"
                            *ngIf="addUser.get('u_dob')?.hasError('required')&&addUser.get('u_dob')?.touched">
                            Required field...
                        </span>

                    </div>
                </div>
                <div class="col-lg-6">
                    <div class="mb-3">
                        <label class="form-label">First name</label>
                        <input class="form-control" type="text" placeholder="Enter first name"
                            formControlName="u_first_name">
                        <span class="text-danger"
                            *ngIf="addUser.get('u_first_name')?.hasError('required')&&addUser.get('u_first_name')?.touched">
                            Required field...
                        </span>

                    </div>
                </div>
                <div class="col-lg-6">
                    <div class="mb-3">
                        <label class="form-label">Last Name</label>
                        <input class="form-control" type="text" placeholder="Enter last name"
                            formControlName="u_last_name">
                        <span class="text-danger"
                            *ngIf="addUser.get('u_last_name')?.hasError('required')&&addUser.get('u_last_name')?.touched">
                            Required field...
                        </span>

                    </div>
                </div>
                <div class="col-lg-6">
                    <div class="mb-3">
                        <label class="form-label">Phone Number</label>
                        <input class="form-control" type="text" placeholder="Enter phone number"
                            formControlName="u_phone">
                        <span class="text-danger"
                            *ngIf="addUser.get('u_phone')?.hasError('required')&&addUser.get('u_phone')?.touched">
                            Required field...
                        </span>

                    </div>
                </div>
                <!-- <div class="col-lg-6">
                    <div class="mb-3">
                        <label class="form-label">Address</label>
                        <input class="form-control" type="text" placeholder="Enter address"
                            formControlName="u_location">
                        <span class="text-danger"
                            *ngIf="addUser.get('u_location')?.hasError('required')&&addUser.get('u_location')?.touched">
                            Required field...
                        </span>

                    </div>
                </div> -->
                <div class="col-lg-6">
                    <div class="mb-3">
                        <label class="form-label">Email address</label>
                        <input class="form-control" type="text" placeholder="Enter email address"
                            formControlName="u_email">
                        <span class="text-danger"
                            *ngIf="addUser.get('u_email')?.hasError('required')&&addUser.get('u_email')?.touched">
                            Required field...
                        </span>

                    </div>
                </div>
                <div class="col-lg-6">
                    <div class="mb-3">
                        <label class="form-label">Role</label>
                        <select class="form-select" id="sel1" name="sellist1" formControlName="u_role">
                            <option></option>
                            <option>admin</option>
                            <option>user</option>
                        </select>
                        <span class="text-danger"
                            *ngIf="addUser.get('u_role')?.hasError('required')&&addUser.get('u_role')?.touched">
                            Required field...
                        </span>

                    </div>
                </div>
            </div>

        </form>
    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-secondary" aria-label="Close" (click)="c('close click')">Close</button>
        <button type="button" class="btn btn-primary" aria-label="update" [disabled]="addUser.invalid"
            (click)="c('update click')" (click)="onAddUser()">{{buttonvalue}}</button>
    </div>
</ng-template>

<ng-template #load></ng-template>
<ngx-loading [show]="loading" [config]="{ backdropBorderRadius: '3px' }" [template]="load"></ngx-loading>