#adminUser {
  h2 {
    span {
      float: right;
      .customBtn {
        background-color: #30367c !important;
        color: #fff !important;
        margin-bottom: 5px;
      }
    }
  }
  .light-blue-backdrop {
    background-color: #5cb3fd;
  }
}

.heading {
  color: #061b64;
  background-color: #e8ebee;
}
.table-striped > tbody > tr:nth-of-type(odd) > * {
  --bs-table-accent-bg: white;
  color: var(--bs-table-striped-color);
}

[type="search"] {
  margin-bottom: 0.5rem;
  outline-offset: -2px;
  margin-bottom: 5px !important;
}
table.dataTable tbody td {
  padding: 15px 10px;
  border-top: 1px solid #e8ebee !important;
  border-bottom: 1px solid #e8ebee !important ;
}
table.dataTable.no-footer {
  border-bottom: 1px solid #e8ebee !important;
}

tbody,
td,
tfoot,
th,
thead,
tr {
  margin-top: 0.5rem !important;
  border: none !important;
}

.table {
  border: 1px solid #e8ebee;
}
.input {
  margin: 5rem !important;
}
.heading[_ngcontent-jrw-c202] {
  color: #061b64;
  background-color: #061b64 !important;
}
.heading[_ngcontent-yal-c202] {
  background-color: #061b64 !important;
}

.tabbody {
  background-color: white;
}
.m-5 {
  margin: 10px !important;
}
.p-5 {
  padding: 0 !important;
}


// table.dataTable thead .sorting_asc {
//     background-color: #000;
//     padding: 4px;
// }
