#dashboard {
    p {
        font-size: 25px;
        font-weight: 500;
        margin: 0;
    }
    p.count {
        margin: 0;
        margin-top: 30px;
        text-align: right;
        font-size: 32px;
        font-weight: 700;
    }
    .total-user {
        height: 112px;
        background-color: #D1E9FC;
        border-radius: 15px;
        color: #061B64;
        padding: 15px 20px 10px 20px;
    }

    .active-user {
        height: 112px;
        background-color: #D0F2FF;
        border-radius: 15px;
        color: #04297A;
        padding: 15px 20px 10px 20px;
    }
    .disabled-user {
        height: 112px;
        background-color: #FFF7CD;
        border-radius: 15px;
        color: #7A4F01;
        padding: 15px 20px 10px 20px;
    }
    .deleted-user {
        height: 112px;
        background-color: #FFE7D9;
        border-radius: 15px;
        color: #7A0C2E;
        padding: 15px 20px 10px 20px;
    }
}

#table {

    .form-select {
        display: block;
        width: 30px;
        padding: 0.375rem 2.25rem 0.375rem 0.75rem;
        font-size: 1rem;
        font-weight: 400;
        line-height: 1;
        color: #212529;
        background-color: #fff;
        background-image: url('../../assets/svg/caret-down.png');
        background-repeat: no-repeat;
        background-position: right 0.5rem center;
        background-size: 10px;
        border: none;
        border-radius: none;
   
        appearance: none;

        &:focus {
            border: none;
            box-shadow: none;
        }
    }
}

.ngx-pagination .small-screen {
    display: block!important;
}

.row > *{
    padding: calc(var(--bs-gutter-x) * 0.5) !important;
}

.status_success{
    background:  rgba(183, 33, 54, 0.35);
    border-radius: 5px;
    padding: 2px;
    margin-left: 10px;
    margin-right: 10px;
    text-align: center;
    font-size: 12px;
    font-weight: 500;
    line-height: 28px;
    letter-spacing: 0em;

    color: #B72136;
}
.status_failure{
    background:  rgba(84, 214, 44, 0.35);
    border-radius: 5px;
    color: #229A16;
    padding: 2px;
    margin-left: 10px;
    margin-right: 10px;
    text-align: center;
    font-size: 12px;
    font-weight: 500;
    line-height: 28px;
    letter-spacing: 0em;
}