<section id="dashboard" class="p-5 pb-0">
    <div class="container-fluid">
        <div class="row ">
            <!-- row-cols-1 row-cols-sm-2 row-cols-md-4 -->
            <div class="col-lg-3 col-md-6 col-sm-12">
                <div class="total-user">
                    <p>Total User</p>
                    <p class="count">{{totalUser}}</p>
                </div>
            </div>
            <div class="col-lg-3 col-md-6 col-sm-12">
                <div class="active-user">
                    <p>Total Active User</p>
                    <p class="count">{{totalActiveuser}}</p>
                </div>
            </div>
            <div class="col-lg-3 col-md-6 col-sm-12">
                <div class="disabled-user">
                    <p>Total Disabled User</p>
                    <p class="count">{{totalDisableUser}}</p>
                </div>
            </div>
            <div class="col-lg-3 col-md-6 col-sm-12">
                <div class="deleted-user">
                    <p>Total deleted User</p>
                    <p class="count">{{totalDeletedUser}}</p>
                </div>
            </div>
        </div>
    </div>
</section>

<!-- <mat-form-field>
    <mat-label>Filter</mat-label>
    <input matInput (keyup)="applyFilter($event)" placeholder="Ex. Mia" #input>
</mat-form-field> -->



<div class="container-fluid">
    <div class="row">
        <div class="col-lg-7">
            <h2>Logs</h2>
            <div class="border">
                <table mat-table [dataSource]="dataSource" matSort>

                    <!-- S.no Column -->
                    <ng-container matColumnDef="s_no">
                        <th mat-header-cell *matHeaderCellDef mat-sort-header> S.no </th>
                        <td mat-cell *matCellDef="let row"> {{row.s_no}} </td>
                    </ng-container>

                    <!-- User Name Column -->
                    <ng-container matColumnDef="username">
                        <th mat-header-cell *matHeaderCellDef mat-sort-header> User Name </th>
                        <td mat-cell *matCellDef="let row"> {{row.username}} </td>
                    </ng-container>

                    <!-- Login Timings Column -->
                    <ng-container matColumnDef="login_timings">
                        <th mat-header-cell *matHeaderCellDef mat-sort-header> Login Timings </th>
                        <td mat-cell *matCellDef="let row"> {{row.login_timings}} </td>
                    </ng-container>

                    <!-- Status Column -->
                    <ng-container matColumnDef="status">
                        <th mat-header-cell *matHeaderCellDef mat-sort-header> Status </th>
                        <td mat-cell *matCellDef="let row">
                            <div class="status_success" [ngClass]="{'status_failure': row?.status=='success'}">
                                {{row?.status==='success'?'Success':'Failure'}}

                            </div>

                        </td>
                    </ng-container>

                    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
                    <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>

                    <!-- Row shown when there is no matching data. -->
                    <tr class="mat-row" *matNoDataRow>
                        <td class="mat-cell" colspan="4">No data matching the filter</td>
                    </tr>
                </table>

                <mat-paginator [pageSizeOptions]="[5, 10, 25, 100]" aria-label="Select page of users"></mat-paginator>
            </div>
        </div>
        <div class="col-lg-5">
            <h2>Charts</h2>
            <app-piechart></app-piechart>

        </div>
    </div>
</div>