<div class="dd">
    <div class="background">
        <div class="shape"></div>
        <div class="shape"></div>
    </div>
    <form [formGroup]="form">
        <h3>Forget Password</h3>

        <label for="username">Email Address</label>
        <input type="text" placeholder="Email Address" formControlName="user_name" id="username">
        <span style="color:'red'" *ngIf="form.get('user_name')?.hasError('required')&&form.get('user_name')?.touched">
            Enter Email Address
        </span>

        <label for="password">Password</label>
        <input type="password" placeholder="Password" formControlName="password" id="password">
        <span style="color:'red'" *ngIf="form.get('password')?.hasError('required')&&form.get('password')?.touched">
            Enter User Password
        </span>

        <button class="buttons" (click)="login()">Log In</button>

    </form>
</div>