/* You can add global styles to this file, and also import other style files */

/* Importing Bootstrap SCSS file. */
@import "bootstrap/scss/bootstrap";
@import url("https://cdn.datatables.net/1.10.16/css/jquery.dataTables.min.css");
@import url("https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/5.2.0/css/bootstrap.min.css");
// @import url("https://cdn.datatables.net/1.13.2/css/dataTables.bootstrap5.min.css");

html,
body {
  height: 100%;
}
body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}

.dataTables_wrapper {
  .dataTables_length {
    position: absolute !important;
    bottom: 0 !important;
    right: 33% !important;
  }
  .dataTables_paginate {
    span {
      .current {
        background-color: #00249c !important;
      }
    }
  }
}
