<section id="profile" class="p-5">
    <div class="container-fluid">
        <div class="row">
            <div class="col-lg-5 mx-auto">
                <div class="card">
                    <div class="avatar mx-auto my-4">
                        <div class="avatar">
                            {{userdata?.u_first_name[0]+userdata?.u_last_name[0] }}
                        </div>
                    </div>
                    <div class="profile-details">
                        <p>Employee Id:<span>{{userdata.u_id}}</span></p>
                        <hr>
                        <p>First name:<span>{{userdata.u_first_name}}</span></p>
                        <hr>
                        <p>Last name:<span>{{userdata.u_last_name}}</span></p>
                        <hr>
                        <p>Date Of Birth:<span>{{dateofBirth(userdata.u_dob)}}</span></p>
                        <hr>
                        <p>Email address:<span>{{userdata.u_email}}</span></p>
                        <hr>


                        <p>Role:<span>{{userdata.u_role}}</span></p>
                        <hr>
                        <div class="updatepass">
                            <p class="para">Password:</p>
                            <span><button class="btn customBtn" (click)="open(content)">Update password</button></span>
                        </div>
                    </div>
                    <!--modal dialog start-->
                    <ng-template #content let-c="close" let-d="dismiss">
                        <div class="modal-header">
                            <h4 class="modal-title" id="modal-basic-title">Update Password</h4>
                            <button type="button" class="btn-close" aria-label="Close"
                                (click)="d('Cross click')"></button>
                        </div>
                        <div class="modal-body">
                            <form [formGroup]="updatePassword" class="" (ngSubmit)="onUpdate()">
                                <div class="mb-3">
                                    <label class="form-label">Old / Current password</label>
                                    <input class="form-control" type="text" formControlName="old_password">
                                </div>
                                <span style="color:'red'"
                                    *ngIf="updatePassword.get('old_password')?.hasError('required')&&updatePassword.get('old_password')?.touched">
                                    Required field!!
                                </span>
                                <div class="mb-3">
                                    <label class="form-label">New password</label>
                                    <input class="form-control" type="password" formControlName="new_password">
                                </div>
                                <span style="color:'red'"
                                    *ngIf="updatePassword.get('new_password')?.hasError('required')&&updatePassword.get('new_password')?.touched">
                                    Required field!!
                                </span>
                                <div class="mb-3">
                                    <label class="form-label">Confirm New password</label>
                                    <input class="form-control" type="password" formControlName="confmpassword">
                                </div>
                                <span style="color:'red'"
                                    *ngIf="updatePassword.get('confmpassword')?.hasError('required')&&updatePassword.get('confmpassword')?.touched">
                                    Required field!!
                                </span>
                                <span style="color:'red'" *ngIf="updatePassword.errors?.['notSame']">
                                    Passwords must match
                                </span>
                            </form>
                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn" style="background-color: #EAEDEE;" aria-label="Close"
                                (click)="c('close click')">close</button>
                            <button type="button" class="btn btn-primary" aria-label="update"
                                [disabled]="updatePassword.invalid" (click)="onUpdate()"
                                style="background-color: #30367C; border: 1px solid #30367C;">Update Password</button>
                        </div>
                    </ng-template>
                    <!--modal dialog end-->

                </div>
            </div>
        </div>
    </div>
</section>