#profile {
  background-color: #F1F1F1;
  height: 96vh;
}
#profile .card .avatar {
  text-align: center;
}
#profile .card .avatar img {
  height: auto;
  width: 70%;
}
#profile .card .profile-details p {
  margin-bottom: 0%;
  padding-left: 20px;
  font-size: 14px;
}
#profile .card .profile-details p span {
  float: right;
  padding-right: 20px;
}
#profile .card .profile-details .updatepass {
  display: grid;
  grid-template-columns: 1fr max-content;
  padding-right: 20px;
  align-items: center;
  margin-bottom: 15px;
}
#profile .card .customBtn {
  background-color: #30367C !important;
  color: #fff !important;
  margin-bottom: 5px;
}

.avatar {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 150px;
  height: 150px;
  background-color: #31367D;
  color: #fff;
  border-radius: 50%;
  font-size: 36px;
  font-weight: bold;
}